/*****Below 1345px small computer******/
@media(max-width: 84em) {
/*
.forth-sec {
  padding: 0.5rem 1rem 1.2rem;
}
 */
   .project-section {
     grid-template-columns: 20rem 20rem 20rem;
     grid-template-rows: 17rem 17rem;
     column-gap: 0.5rem;
     row-gap: 0;
   }

  .project-pic {
    width: 19rem;
    height: 13.5rem;
  }

}

@media(max-width: 81em) {

}

@media(max-width: 56em) {
  .skills-one {
   gap: 3%;
   /* padding: 15px 30px 15px; */
   padding: 0.6rem 0.2rem 0.5rem;
   line-height: 1.5rem;
  }

  .forth-sec{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 6.25rem;
    /* padding: 25px 30px 25px 50px; */
    padding: 0.8rem 0 0.8rem 0.4rem;
    border-radius: 2%;
    /* color: #585858; */
  }

  .project-section {
    /**Grid Layout**/
    grid-template-columns: 13.5rem 13.5rem 13.5rem;
    grid-template-rows: 10rem 10rem;
    column-gap: 0.1rem;
    row-gap: 0.1rem;
  }

    .project-pic {
      width: 12rem;
      height: 8rem;
      /**image-overly-fade**/
    }
  }

/****** Max-width 375px ******/
  @media(max-width: 23em) {
    .second-sec {
      width: 100%;

      margin: 30px auto;
      font-size: 0.5rem;
    }
    .second-sec p {
      line-height: 2;
    }

    .forth-sec{
      width: 100%;
      margin: 0 auto;
      /* padding: 20px 30px; */
      /* padding: 1.25rem 1.8rem; */
      margin-bottom: 5rem;
      /* padding: 25px 30px 25px 50px; */
      /* padding: 1.5rem 1.9rem 1.5rem 3.1rem; */
    }

    .project-section {
      /**Grid Layout**/
      grid-template-columns: 1fr;
      grid-template-rows: 5rem 5rem 5rem;
      row-gap: 0.2rem;
      padding: 0;
    }

    .project-pic {
      width: 12rem;
      height: 8rem;
      /**image-overly-fade**/
    }

  }
