
body {
  margin: 0;
  box-sizing: border-box;
  background-color: #FDFCE5;
  font-family: 'Source Sans Pro', sans-serif;
}

/**********Header*********/
/*
.navigation{
  background-color:  pink;
  position: relative;
  left: 75%;
  width: 350px;
  padding: 5px;

}
*/

.navigation {
  background-color: #E6E6E6;
}

.navigation a {
  color: #664E88;
  text-decoration: none;
  font-weight: bold;
}

.navigation a:hover {
  color: #B980F0;
}

h1 {
  font-size: 35px;
}
h3 {
    font-size: 25px;
}
h1, h3 {
 font-family: 'Sacramento', cursive;
}

li{
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}

/***********First-Section**********/
.first-sec {
   margin: 0 0 30px;
}

img {
  width: 170px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
}
.topic{
  text-align: center;
}
.sending-email {
  width: 50px;
  height:30px;
  border-radius: 50%;
}

.btn {
  border: none;
  background-color: #664E88;
  color: #FDFCE5;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 20px 0;
  text-decoration: none;
}

.btn:hover {
  color: #B980F0;
}

/***********Second-Section**********/
.second-sec {
  width: 70%;
  background-color: #E6E6E6;
  padding: 20px 30px;
  margin: 60px auto;
  border-radius: 2%;
}
.second-sec p {
  line-height: 2;
}
/***********Footer**********/
footer {
  background-color: #664E88;
  padding: 30px 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #FDFCE5;
  margin: 30px 20px;
}

footer a:hover {
  color: #B980F0;
}
.copyright {
  color: #FDFCE5;
  font-size: 0.75rem;
  padding: 20px 0;
}
